@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.form-container {
    display: grid;
    grid-template-rows: 300px 580px 100px;
}

h1 {
    font-weight: 500;
    font-size: 3em;
}

h3 {
    text-align: left;
    padding-left: 55px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.3em;
    color: #414141;
}

p {
    text-align: left;
    padding-left: 55px;
}

.example {
    text-align: left;
    padding-left: 40px;
    margin-bottom: 10px;
    color: #ABABAB;
    font-size: 12px;
}

.head-wr {
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.form-wr {
    grid-row: 2;
    align-self: center;
    justify-self: center;
}

#form .form {
    text-align: center;
    width: 600px;
}

#form input[type="text"],
input[type="tel"],
input[type="email"],
select {
    width: 80%;
    margin-bottom: 20px;
    height: 50px;
    outline: 0;
    -moz-outline-style: none;
}

#form input[type="text"],
input[type="tel"],
input[type="email"] {
    border: 1px solid #000000;
    padding: 0 0 0 10px;
    font-size: 14px;
}

#form input[type="file"] {
    display: none;
}

.custom_upload {
    border-radius: 5px;
    border: 1px solid #000000;
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
}

#form .submit_button {
    height: 50px;
    border-radius: 10px;
    background: #00b050;
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    color: white;
    font-size: 1.3em;
    font-weight: 100;
    cursor: pointer;
    transition: box-shadow .4s ease;
}

.foot-wr {
    grid-row: 3;
    align-self: center;
    justify-self: center;
    width: 500px;
    text-align: center;
    color: gray;
}

@media screen and (max-width: 600px) {
    h3 {
        text-align: left;
        padding-left: 30px;
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 1.3em;
        color: #414141;
    }

    p {
        text-align: left;
        padding-left: 30px;
    }

    #form .form {
        width: 350px;
    }

    .foot-wr {
        grid-row: 3;
        align-self: center;
        justify-self: center;
        width: 300px;
        text-align: center;
        color: gray;
    }
}